
@{
    ViewBag.Title = "LoggedIn";
}

    <section>

        <div class="welcome_wrapper">
            <h1>This is just a headline</h1>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue lacus non turpis faucibus hendrerit ut et purus. </p>
        </div>

    </section>

<section>
    <h2>We offer</h2>
    <h3>The following packages</h3>
     
    <div class="offer-wrapper">
        <div class="col-md-3 package">
            <h4>Small</h4>
            <div class="package-text">
                <p>Dashboard</p>
                <p>Push</p>
                <p>Ubegrænset antal brugere</p>
                <p>Understøtter 1 sprog</p>
                <p>Op til 1 content typer</p>
                <p>1 GB data storage</p>
                <p>1 GB data transfer</p>
                <p>Email support</p>
            </div>
            <button>
                1.000DKK /måned
            </button>
        </div>

        <div class="col-md-3 package">
            <h4>Medium</h4>
            <div class="package-text">
                <p>Dashboard</p>
                <p>Push</p>
                <p>Ubegrænset antal brugere</p>
                <p>Understøtter 3 sprog</p>
                <p>Op til 3 content typer</p>
                <p>5 GB data storage</p>
                <p>5 GB data transfer</p>
                <p>Email support</p>
                </div>

                <button>
                    2.000DKK /måned
                </button>
            </div>

        <div class="col-md-3 package">

            <h4>Large</h4>
            <div class="package-text">
                <p>Dashboard</p>
                <p>Push</p>
                <p>Ubegrænset antal brugere</p>
                <p>Understøtter 3 sprog</p>
                <p>Op til 10 content typer</p>
                <p>25 GB data storage</p>
                <p>25 GB data transfer</p>
                <p>Email support</p>
            </div>

                <button>
                    3.000DKK /måned
                </button>
            </div>

        <div class="col-md-3 package">
            <h4>Enterprise</h4>
            <div class="package-text">
                <p>Dashboard</p>
                <p>Push</p>
                <p>Ubegrænset antal brugere</p>
                <p>Ubegrænset antal sprog</p>
                <p>Ubegrænset content typer</p>
                <p>Ubegrænset data storage</p>
                <p>Ubegrænset data transfer</p>
                <p>Email support</p>
            </div>

                <button>
                    4.000DKK /måned
                </button>
            </div>
        </div>

</section>

<section>
    <div class="contact-wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    
           <button class="contact-button"> Contact
           </button>
    </div>
</section>