body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse {
    background-color: transparent; 
    border-color: transparent;
}

.navbar-logo-wrapper {
    display:flex;
}

.hoc-logo {
    width: 140px;
}

.navbar-nav {
    float: right;
}

h1 {
    font-size: 60px;
}

.welcome_wrapper {
    width: 500px;
    height: 310px;
    padding-top: 50px;
}

h4 {
    font-size: 18px;
    background: purple;
    margin: 0;
    padding: 10px;
    margin-bottom: 15px;
    color: white;
}

p {
}

button {
    border-radius: 10px;
    border: none;
    margin: 20px 0px;
    text-align: center;
    width: 100%;
    padding: 5px;
    color: white;
    background: purple;
}

.package {
    background: rgba(113, 15, 78, 0.3);
    padding: 0;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}

.package-text {
    padding: 0 25px;
    margin: 20px;
    width: 250px;
    padding: 0;
}

.offer-wrapper {
    height: 350px;
}

.contact-wrapper {
    width: 400px;
    margin: auto;
}

.contact-button {
    width: 240px;
    height: 40px;
    border-radius: 50px;
}

.contact-information {
    display: block;
    margin: 0 0 10px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
